<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="apple-touch-icon" sizes="76x76" href="./logo/hbilogo.png">
    <link rel="icon" type="image/png" href="./logo/hbilogo.png">
    <title>
        AMT SYSTEM
    </title>
    <!--     Fonts and icons     -->
    <%-include ('./layout/link'); %>
</head>

<body class="g-sidenav-show  bg-gray-200">
    <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
        <!-- Navbar -->
        <%-include ('./components/system/sys_navbar'); %>
            <!-- End Navbar -->
            <div class="container-fluid py-4">
        <%-include ('./components/profile/profile_employee'); %>
                <%-include ('./layout/footer'); %>
            </div>
    </main>
    <%-include ('./layout/setting'); %>
        <%-include ('./layout/script'); %>
</body>

</html>